:root {
  --color1: #006c78;
  --color2: #16868e;
  --color3: #e3e3e3;
  --color4: #a9bec3;
  /*
  --color2: #009688;
  --color3: #CDDC39;
  --color4: #90caf9;*/
  --1col: 11.6666666667vw;
  --2col: 25.333vw;
  --3col: 39vw;
  --4col: 52vw;
  --5col: 65vw;
  --6col: 80vw;
  --between: 10vw;
  --inside: 2vw;
  --regular: 300;
  --bold: 900;
  --font: 'Roboto', sans-serif;
}
html {
  margin: 0;
  padding: 0;
  background: #fff;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
::-moz-selection {
  color: white;
  background: var(--color1);
}
::selection {
  color: white;
  background: var(--color1);
}
.lander {
	height: 70vh;
	margin: 0;
}
.lander h1 {
	width: var(--4col);
	font-size: 70px;
}
#cover {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -2;
  /*background-image: url("../img/lander-image3.png");
  background-position: center;
  background-size: cover;*/
  background: var(--color2);
}
@media screen and (max-width: 1200px) {
  #cover {
    top: 0;
  }
}
.section-1 {
	margin: 0;
	padding: 0;
	width: 100vw;
	background: var(--color3);
}
.section-1 h1 {
	margin: 0;
	padding: 0;
	font-family: var(--font);
	font-weight: var(--bold);
	font-size: 40px;
	line-height: 40px;
	color: var(--color1);
	text-align: left;
	padding: 100px var(--inside) 0 var(--between);
}
.section-1 h2 {
	font-family: var(--font);
	font-weight: var(--regular);
	font-size: 18px;
	width: var(--4col);
	color: black;
	line-height: 36px;
	text-align: left;
	margin: 0 var(--inside) 0 var(--between);
	padding: 0;
}
.section-1 p {
	font-family: var(--font);
	margin: 0;
	font-weight: var(--regular);
	font-size: 18px;
	width: var(--6col);
	color: black;
	line-height: 36px;
	text-align: left;
	padding: 0 var(--inside) 100px 12vw;
}
.section-2 {
	margin: 0;
	padding: 0;
	width: 100vw;
}
.section-2 h1 {
	margin: 0;
	padding: 0;
	font-family: var(--font);
	font-weight: var(--bold);
	font-size: 40px;
	line-height: 40px;
	color: var(--color1);
	text-align: left;
	padding: 100px var(--inside) 0 var(--between);
}
.section-2 h1 strong{
	font-weight: var(--bold);
	font-style: italic;
}	
.section-2 hr {
	border: 2px solid var(--color1);
	width: 60px;
	margin: 40px 0 0 var(--between);
}
.section-2 p {
	font-family: var(--font);
	margin: 0;
	font-weight: var(--regular);
	font-size: 18px;
	width: var(--6col);
	color: black;
	line-height: 36px;
	text-align: left;
	padding: 40px var(--inside) 100px var(--between);
}
.section-2 h3 {
	font-family: var(--font);
	margin: 0;
	font-weight: var(--regular);
	font-size: 18px;
	width: var(--6col);
	color: black;
	line-height: 36px;
	text-align: left;
	padding: 40px var(--inside) 40px var(--between);
}
.section-divider {
  margin: 0 auto;
  width: var(--6col);
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(var(--color2)), to(var(--color1)));
  background: -webkit-linear-gradient(left, var(--color2), var(--color1));
  background: -o-linear-gradient(left, var(--color2), var(--color1));
  background: linear-gradient(to right, var(--color2), var(--color1));
  opacity: 1;
}
.benefits-risks {
	width: 100vw;
	display: flex;
	flex-direction: row;
	margin: 0 0 100px 0;
}
.benefits {
	width: var(--3col);
	margin: 0 var(--inside) 40px var(--between);
}
.benefits-risks h2 {
	margin: 0;
	padding: 0;
	font-family: var(--font);
	font-weight: var(--regular);
	font-size: 30px;
	line-height: 30px;
	color: var(--color1);
	text-align: center;
	padding: 40px 0 0 0;
}
.benefits-risks p {
	font-family: var(--font);
	margin: 0;
	font-weight: var(--regular);
	font-size: 18px;
	width: var(--3col);
	color: black;
	line-height: 36px;
	text-align: left;
	padding: 40px 0 0 0;
}
.risks {
	width: var(--3col);
	margin: 0 var(--between) 40px 0;
}
@media screen and (max-width: 1200px) {
	.benefits-risks {
		flex-direction: column;
	}
	.benefits {
		width: var(--6col);
	}
	.benefits-risks p {
		width: var(--6col);
	}
	.risks {
		width: var(--6col);
		margin-left: var(--between);
	}
}
