.lander {
  overflow-x: hidden !important;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  width: 100vw;
}
.lander h1 {
  font-family: var(--regular);
  color: white;
  font-size: 150px;
  margin: 0;
  padding: 0;
  line-height: 150px;
  text-align: center;
  width: var(--5col);
}
.section-1 {
  width: 100vw;
  border-top: 1px solid rgba(255,255,255,0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: var(--regular);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}
.section-1 h1 {
  margin: 100px 0 10px var(--between);
  padding: 0;
  width: var(--6col);
  text-align: left;
  font-size: 60px;
  line-height: 60px;
}
.section-1 p {
  margin: 0 0 40px var(--between);
  padding: 0;
  width: var(--6col);
  text-align: left;
  font-size: 22px;
  line-height: 30px;
  font-family: var(--regular);
  letter-spacing: 0px;
}
.section-1 p:last-child {
  margin: 0 0 100px var(--between);
}
.section-2 {
  width: 100vw;
  border-top: 1px solid rgba(255,255,255,0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--regular);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
}
.section-2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: var(--regular);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-2 h1 {
  margin: 100px 0 40px var(--between);
  padding: 0;
  width: var(--5col);
  text-align: left;
  font-size: 60px;
  line-height: 60px;
}
.section-2 hr {
  width: 60px;
  margin: 0 0 40px var(--between);
  border: 1px solid white;
}
.section-2 p {
  margin: 0 0 40px var(--between);
  padding: 0;
  width: var(--5col);
  text-align: left;
  font-size: 22px;
  line-height: 30px;
  font-family: var(--regular);
  letter-spacing: 0px;
}
.section-2 p:last-child {
  margin: 0 0 100px var(--between);
}
.section-2 img {
  width: var(--1col);
  margin: 0 var(--between) 0 var(--inside);
}
.section-3 {
  margin: 0;
  padding: 0;
  width: 100vw;
  border-top: 1px solid rgba(255,255,255,0.5);
}
.section-3 h1 {
  margin: 100px 0 0 var(--between);
  padding: 0;
  width: var(--6col);
  text-align: left;
  font-size: 60px;
  line-height: 60px;
  color: white;
}
.section-3 hr {
  border: 1px solid white;
  width: 60px;
  margin: 40px 0 0 var(--between);
}
.section-3 p {
  font-family: var(--regular);
  margin: 0;
  font-size: 22px;
  width: var(--6col);
  color: white;
  line-height: 30px;
  text-align: left;
  padding: 40px var(--inside) 0 var(--between);
}
.section-divider {
  margin: 0 auto;
  width: var(--6col);
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(var(--color2)), to(var(--color1)));
  background: linear-gradient(to right, var(--color2), var(--color1));
  opacity: 1;
}
.benefits-risks {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 0 0;
  padding: 0;
}
.benefits {
  width: var(--3col);
  margin: 0 var(--inside) 0 var(--between);
}
.benefits-risks h2 {
  margin: 0;
  padding: 0;
  font-family: var(--bold);
  font-size: 40px;
  line-height: 40px;
  color: white;
  text-align: center;
  padding: 40px 0 40px 0;
}
.benefits-risks p {
  font-family: var(--regular);
  margin: 0;
  font-size: 22px;
  width: var(--3col);
  color: white;
  line-height: 30px;
  text-align: left;
  padding: 0 var(--inside) 40px 0;
}
.risks {
  width: var(--3col);
  margin: 0 var(--between) 40px 0;
}
@media screen and (max-width: 1200px) {
  .benefits-risks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits {
    width: var(--6col);
  }
  .benefits-risks p {
    width: var(--6col);
  }
  .risks {
    width: var(--6col);
    margin-left: var(--between);
  }
}
