.sections {
	/*background-image: url('../img/Unicorn.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background: white;
	padding-top: 0;
	padding-bottom: 80px;
}
.section2 {
	margin: 0;
	padding: 80px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: white;
}
.section2 .sectiontitle {
	padding: 0 0 0 0;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column4);
	line-height: 60px;
	color: var(--color);
	text-align: center;
}
.section2 .paragraph {
	padding: 40px 0 0 0;
	width: var(--column4);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: black;
	text-align: center;
}
.section3 {
	padding: 80px var(--columnspace) 80px var(--columnspace);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #eee;
}
.section3 .sectiontitle {
	padding: 0 0 0 0;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column4);
	line-height: 60px;
	color: var(--color);
	text-align: center;
}
.section3 .paragraph {
	padding: 40px 0 0 0;
	width: var(--column4);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: black;
	text-align: center;
}
.section3-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: var(--column4);
}
.section3-2-1 {
	width: 32vw;
}
.section3-2 p {
	padding: 0 !important;
	margin: 0;
	color: black;
	width: var(--column4) !important;
	text-align: center;
}
.section3-2 h3 {
	font-family: var(--light);
	font-weight: 600;
	padding: 0;
	font-size: 30px;
	color: var(--color);
	width: var(--column4) !important;
	text-align: center;
}
.section3-2-2 {
	width: 32vw;
}
.section4 {
	margin: 0 var(--columnspace);
	padding: 80px 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.section4 .sectiontitle {
	padding: 0 0 0 0;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column4);
	line-height: 60px;
	color: var(--color);
	text-align: center;
}
.section4 .paragraph {
	padding: 40px 0 0 0;
	width: var(--column4);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: black;
	text-align: center;
}

@media screen and (max-width: 1400px) {
	.section1 img {
		padding: 18vh 14vw;
	}
}
@media screen and (max-width: 1100px) {
	.section1 img {
		padding: 18vh 13vw;
	}
	.arm {
		width: 55vw;
		margin: -50px 0 0 22.5vw;
	}
}