@font-face {
    font-family: 'akzidenz-grotesk_bqbold';
    src: url('../fonts/akzidenzgrotesk-bold-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk_bqBdIt';
    src: url('../fonts/akzidenzgrotesk-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk_bqitalic';
    src: url('../fonts/akzidenzgrotesk-italic-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk_bqlight';
    src: url('../fonts/akzidenzgrotesk-light-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk_bq_lightIt';
    src: url('../fonts/akzidenzgrotesk-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk_bqmedium';
    src: url('../fonts/akzidenzgrotesk-medium-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk_bqMdIt';
    src: url('../fonts/akzidenzgrotesk-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akzidenz-grotesk_bqregular';
    src: url('../fonts/akzidenzgrotesk-regular-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}