.up-arrow {
  margin: 0;
  padding: 5px 15px 7px 15px;
  border-radius: 10px;
  background: rgba(0,0,0,0.4);
  position: fixed;
  bottom: 1.8vw;
  right: 2vw;
  z-index: 20;
  font-size: 30px;
  color: white;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
}
.up-arrow:hover {
  background: rgba(0,0,0,0.8);
  border-radius: 40px;
}
.header-background {
  width: 100vw;
  height: 80px;
  background: #fff;
  position: fixed;
  top: -80px;
  left: 0;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  z-index: 100;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.7);
          box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.checkbox {
  display: none;
}
.header-button {
  margin: 35px 0 0 35px;
  padding: 10px;
  border-radius: 50%;
  background: var(--color2);
  height: 30px;
  width: 30px;
  text-align: center;
  left: 0;
  font-size: 30px;
  color: white;
  display: fixed;
  position: fixed;
  z-index: 3;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  opacity: 1;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
          box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-button:hover {
  cursor: pointer;
}
.header-button2 {
  margin: 35px 0 0 35px;
  padding: 10px;
  border-radius: 50%;
  background: var(--color2);
  height: 30px;
  width: 30px;
  text-align: center;
  left: 0;
  color: white;
  display: fixed;
  position: fixed;
  z-index: 5;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  opacity: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.3);
          box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-button2:hover {
  cursor: pointer;
}
.header {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
  -webkit-transition-duration: 800ms;
       -o-transition-duration: 800ms;
          transition-duration: 800ms;
  opacity: 0;
  top: -100vh;
  background-image: url('../img/Tidal-Waves.png');
  background-size: cover;
}
.header a {
  height: 25%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(255,255,255,0.3);
  list-style: none;
  font-family: var(--regular);
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 2px;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}
.header a:first-child {
  color: rgba(255,255,255,1);
}
.header a:hover {
  color: rgba(255,255,255,1);
}
.header hr {
  width: 75vw;
  border: 0.5px solid white;
  margin: 0;
  padding: 0;
}
.checkbox:checked ~ .header-button {
  opacity: 0;
}
.checkbox:checked ~ .header-button2 {
  opacity: 1;
}
.checkbox:checked ~ .header {
  opacity: 1;
  top: 0;
}
.checkbox:checked ~ .header a {
  opacity: 1;
}
.header-left {
  margin: 0;
  padding: 0;
  width: 120px;
  left: 0;
  top: 0;
  height: 100vh;
  border-right: 1px solid rgba(255,255,255,1);
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-button3 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0 35px 35px;
  padding: 10px;
  border-radius: 50%;
  background: var(--color2);
  height: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  left: 0;
  color: white;
  z-index: 3;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  opacity: 1;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
          box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-button3:hover {
  cursor: pointer;
  margin: 0 0 45px 35px;
  -webkit-box-shadow: 0 15px 20px rgba(0,0,0,0.3);
          box-shadow: 0 15px 20px rgba(0,0,0,0.3);
}
.header-left p {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  color: white;
  font-size: 22px;
  font-family: var(--bold);
  letter-spacing: 10px;
}
.header-left div {
  mix-blend-mode: exclusion;
}
.header-right {
  margin: 0;
  padding: 0;
  width: 120px;
  right: 0;
  top: 0;
  height: 100vh;
  border-left: 1px solid rgba(255,255,255,1);
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}
.header-button4 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0 35px 35px;
  padding: 10px;
  border-radius: 50%;
  background: var(--color2);
  height: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  left: 0;
  color: white;
  z-index: 3;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  opacity: 1;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
          box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-button4:hover {
  cursor: pointer;
  margin: 0 0 45px 35px;
  -webkit-box-shadow: 0 15px 20px rgba(0,0,0,0.3);
          box-shadow: 0 15px 20px rgba(0,0,0,0.3);
}
.header-button5 {
  margin: 35px 35px 0 0;
  padding: 10px;
  text-decoration: none;
  border-radius: 50%;
  background: var(--color2);
  height: 30px;
  width: 30px;
  text-align: center;
  right: 0;
  font-size: 30px;
  color: white;
  display: fixed;
  position: fixed;
  z-index: 4;
  -webkit-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  opacity: 1;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
          box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  font-family: var(--regular);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-button5:hover {
  cursor: pointer;
}
.header-button5:hover + .ihstsa {
  opacity: 1;
}
.ihstsa {
  margin: 35px 37px 0 0;
  padding: 0;
  background: var(--color2);
  height: 49px;
  width: 150px;
  position: fixed;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 156.1%;
      -ms-transform-origin: 50% 156.1%;
          transform-origin: 50% 156.1%;
  border-radius: 24.5px;
  top: 0;
  z-index: 3;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 0 20px rgba(0,0,0,0.3);
          box-shadow: 5px 0 20px rgba(0,0,0,0.3);
  opacity: 0;
  -webkit-transition-duration: 300ms;
       -o-transition-duration: 300ms;
          transition-duration: 300ms;
}
.header-button5-text {
  top: 0;
  right: 0;
  margin: 0 20px 0 0;
  padding: 0;
  font-family: var(--regular);
  color: white;
  font-size: 20px;
  line-height: 20px;
}