.sections {
	/*background-image: url('../img/Unicorn.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background: #eee;
	padding-bottom: 140px;
}
.section1 {
	margin: 0;
	padding-left: var(--columnspace);
	background: #eee;
	display: flex;
	flex-direction: row;
	top: 100vh;
}
.section1 .paragraph {
	padding: 140px 0 60px 0;
	width: var(--column2);
	font-size: 26px !important;
	line-height: 34px !important;
	font-family: var(--regular);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: var(--color);
	margin-left: var(--column2);
}
.section1 .button {
	margin: 0 0 140px 0;
	margin-left: var(--column2);
	background: var(--color-2);
	color: white;
}
.section1 img {
	position: absolute;
	height: 100px;
	background: white;
	margin-top: -40px;
	padding: 18vh 15vw;
}
.section2 {
	background-position: top;
	margin: 0 var(--columnspace);
	padding: 0;
	display: flex;
	flex-direction: column;
	background: white;
}
.section2 .sectiontitle {
	padding: 140px 0 0 var(--column1);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column2);
	line-height: 60px;
	color: var(--color);
}
.section2 .paragraph {
	padding: 60px 0 60px var(--column1);
	width: var(--column2);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: black;
}
.section2 .button {
	margin-left: var(--column1);
	width: 140px;
	margin-bottom: 140px;
	background: var(--color-2);
	color: white;
}
.arm {
	width: 35vw;
	margin: -140px 0 0 52vw;
}
.section3 {
	background-position: top;
	margin: 140px var(--columnspace) 0 var(--columnspace);
	padding: 0;
	display: flex;
	flex-direction: column;
	background: white;
}
.section3 .sectiontitle {
	padding: 140px 0 0 var(--column1);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column2);
	line-height: 60px;
	color: var(--color);
}
.section3 .paragraph {
	padding: 60px 0 60px var(--column1);
	width: var(--column2);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: black;
}
.section3 .button {
	margin-left: var(--column1);
	width: 140px;
	margin-bottom: 140px;
	background: var(--color-2);
	color: white;
}

@media screen and (max-width: 1400px) {
	.section1 img {
		padding: 18vh 14vw;
	}
}
@media screen and (max-width: 1100px) {
	.section1 img {
		padding: 18vh 13vw;
	}
	.arm {
		width: 55vw;
		margin: -50px 0 0 22.5vw;
	}
}