.section-1 {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  background: white;
}
.section-1 img {
  height: 200px;
  margin: 100px 0 40px 0;
  padding: 0 0 0 0;
}
.section-1 h1 {
  font-family: var(--font);
  font-weight: var(--bold);
  font-size: 40px;
  color: var(--color1);
  text-align: center;
  width: var(--3col);
  margin: 0 0 0 0;
}
.section-1 hr {
  border: 2px solid var(--color1);
  width: 60px;
  margin: 40px 0 0 0;
}
.section-1 p {
  font-family: var(--font);
  font-weight: var(--regular);
  font-size: 18px;
  width: var(--5col);
  color: black;
  line-height: 36px;
  text-align: center;
  margin: 40px 0 0 0;
}
.aboutagapai {
  margin: 40px 0 100px 0;
  padding: 25px 0 25px 0;
  width: 220px;
  font-family: var(--font);
  font-weight: var(--regular);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  background: var(--color1);
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  border: 2px solid rgba(0,0,0,0);
}
.aboutagapai strong {
  font-weight: var(--bold);
}
.aboutagapai:hover {
  background: none;
  color: var(--color1);
  border: 2px solid var(--color1);
}
.section-2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/section-2-image.png");
  background-size: cover;
  background-position: center;
}
.section-2 h1 {
  font-family: var(--font);
  font-weight: var(--bold);
  font-size: 40px;
  line-height: 40px;
  color: white;
  text-align: center;
  margin: 100px auto 0 auto;
}
.section-2 hr {
  border: 2px solid white;
  width: 60px;
  margin: 40px 0 0 0;
}
.section-2 p {
  font-family: var(--font);
  font-weight: var(--regular);
  font-size: 18px;
  width: var(--5col);
  color: white;
  line-height: 36px;
  text-align: center;
  margin: 40px auto 0 auto;
}
.reservenow {
  margin: 40px auto 100px auto;
  padding: 25px 0 25px 0;
  width: 220px;
  font-family: var(--font);
  font-weight: var(--regular);
  color: var(--color1);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  background: white;
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  border: 3px solid rgba(0,0,0,0);
}
.reservenow strong {
  font-weight: var(--bold);
}
.reservenow:hover {
  color: white;
  background: none;
  border: 3px solid white;
}
.section-3 {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  background: white;
}
.section-3-image-2 {
  display: none !important;
}
.section-3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  background: white;
}
.section-3 h1 {
  font-family: var(--font);
  font-weight: var(--bold);
  font-size: 40px;
  line-height: 40px;
  color: var(--color1);
  text-align: left;
  margin: 100px var(--inside) 0 var(--between);
}
.section-3 hr {
  border: 2px solid var(--color1);
  width: 60px;
  margin: 40px 0 0 var(--between);
}
.section-3 p {
  font-family: var(--font);
  font-weight: var(--regular);
  font-size: 18px;
  width: var(--4col);
  color: black;
  line-height: 36px;
  text-align: left;
  margin: 40px var(--inside) 0 var(--between);
}
.findouthere {
  margin: 40px var(--inside) 100px var(--between);
  padding: 25px 0 25px 0;
  width: 220px;
  font-family: var(--font);
  font-weight: var(--regular);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  background: var(--color1);
  -webkit-transition-duration: 200ms;
       -o-transition-duration: 200ms;
          transition-duration: 200ms;
  border: 3px solid rgba(0,0,0,0);
}
.findouthere strong {
  font-weight: var(--bold);
}
.findouthere:hover {
  color: var(--color1);
  background: none;
  border: 3px solid var(--color1);
}
.section-3-image-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-3-image {
  height: auto;
  width: var(--2col);
  margin: 0 var(--between) 0 var(--inside);
}
/*
*
*
*
*
*
RESPONSIVE
*
*
*
*
*
*/
@media screen and (max-width: 1400px) {
  .section-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-3 div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 var(--between) 0 var(--between);
  }
  .section-3 h1 {
    text-align: center;
    margin: 40px 0 0 0;
  }
  .section-3 hr {
    margin: 40px 0 40px 0;
  }
  .section-3 p {
    font-weight: var(--regular);
    font-size: 18px;
    text-align: center;
    margin: 0;
    width: var(--5col);
  }
  .section-3-image-2 {
    display: inline !important;
    height: 400px;
    margin: 100px 0 0 0;
  }
  .section-3-image-parent {
    display: none !important;
  }
  .section-3-image {
    display: none !important;
  }
  .findouthere {
    margin: 40px 0 100px 0;
  }
  .section-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#cover {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -2;
  background-image: url("../img/CARL.png");
  background-position: center;
  background-size: cover;
}
#cover1 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: -100vh;
  z-index: -2;
  background-image: url("../img/CARL_MOBILE.png");
  background-position: center;
  background-size: cover;
}
#cover2 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
  background-image: url("../img/overlay-pattern.png");
  background-position: center;
  background-repeat: repeat;
}
@media screen and (max-width: 1200px) {
  #cover {
    top: -100vh;
  }
  #cover1 {
    top: 0;
  }
  #ut-animation-canvas {
    z-index: -5;
  }
}
