.sections {
	/*background-image: url('../img/Unicorn.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background: #eee;
	padding-bottom: 0;
}
.section1 {
	margin: 0;
	padding:0;
	background: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section1 div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section1 .paragraph {
	padding: 100px 0 60px 0;
	width: var(--column4);
	font-size: 18px !important;
	line-height: 26px !important;
	font-family: var(--regular);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: var(--color);
	margin-left: 0;
	text-align: center;
}
.section1 .button {
	margin: 0 0 100px 0;
}
.section1 img {
	position: inherit;
	height: 60px;
	background: white;
	margin-top: -40px;
	padding: 10vh 25vw;
	border-radius: 20px;
	box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}
.section2 {
	background-position: top;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	border-radius: 0;
	box-shadow: none;
	box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}
.section2 .sectiontitle {
	padding: 100px 0 0 0;
	margin: 0;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column4);
	line-height: 50px;
	color: var(--color);
	text-align: center;
}
.section2 .paragraph {
	padding: 40px 0 40px 0;
	width: var(--column4);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: black;
	text-align: center;
}
.section2 .button {
	margin: 0;
	width: 120px;
	margin-bottom: 100px;
	background: var(--color-2);
	color: white;
}
.arm {
	width: 80vw;
	margin: -40px 0 0 10vw;
	border-radius: 20px;
	box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}
.section3 {
	background-position: top;
	margin: 100px 0 0 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	border-radius: 0;
	box-shadow: none;
}
.section3 .sectiontitle {
	padding: 100px 0 0 0;
	margin: 0;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column4);
	line-height: 50px;
	color: var(--color);
	text-align: center;
}
.section3 .paragraph {
	padding: 40px 0 40px 0;
	width: var(--column4);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: black;
	text-align: center;
}
.section3 .button {
	margin: 0;
	width: 120px;
	margin-bottom: 100px;
	background: var(--color-2);
	color: white;
}