:root {
	--bold: 'gt_walsheim_pro_bold';
	--regular: 'gt_walsheim_pro_regular';
	--thin: 'gt_walsheim_pro_thin';
	--1col: 13.333vw;
	--2col: 26.666vw;
	--3col: 40vw;
	--4col: 53.333vw;
	--5col: 66.666vw;
	--6col: 80vw;
	--between: 10vw;
	--color: #1960f1;
} 
html { 
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway';
}
.nokey-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-filter: brightness(100%); /* Safari */
    filter: brightness(100%);
 }
.logo {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 60px;
	color: white;
	left: 60px;
	font-family: var(--regular);
	font-size: 22px;
	letter-spacing: 5px;
}
i {
	width: 30px;
	height: 30px;
	font-size: 30px;
	position: fixed;
	top: 60px;
	color: white;
	right: 60px;
}
.page-wrap {
	margin: 0;
	padding: 0;
	width: 100%;
}
.lander {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	position: fixed;
	z-index: -1;
}
.lander img {
	height: 100vh;
	width: 100%;
	position: absolute;
	z-index: -1;
	filter: brightness(0.5);
}
.logo-2 {
	font-family: var(--regular);
	font-size: 20px;
	width: var(--4col);
	text-align: center;
	line-height: 22px;
	margin: 0 0 10px 0;
	padding: 0;
	letter-spacing: 20px;
	z-index: 1;
}
.lander h1 {
	font-size: 100px;
	width: var(--6col);
	text-align: center;
	margin: 0 0 30px 0;
	padding: 0;
	line-height: 100px;
	font-family: 'EB Garamond';
	z-index: 1;
	font-weight: 400;
} 
.lander h1 strong {
	font-size: 100px;
	width: var(--6col);
	text-align: center;
	margin: 0 0 30px 0;
	padding: 0;
	line-height: 100px;
	font-weight: 400;
	font-family: 'EB Garamond', serif;
	z-index: 1;
	color: var(--color);
}
.lander hr {
	width: 120px;
	margin: 0 0 40px 0;
	padding: 0;
	z-index: 1;
	border: 1px solid white;
}
.lander p {
	font-family: var(--thin);
	font-size: 20px;
	width: var(--4col);
	text-align: center;
	line-height: 30px;
	margin: 0 0 40px 0;
	padding: 0;
	z-index: 1;
}
.lander a {
	font-family: var(--thin);
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 20px 40px;
	border: 2px solid var(--color);
	transition-duration: 400ms;
	z-index: 1;
}
.lander a:hover {
	background: var(--color);
}
.space {
	height: 100vh;
}
.section-1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to top right, var(--color), #0d47a1);
}
.section-1 img {
	width: 20vw;
	margin: 100px 0 0 0;
}
.section-1 h1 {
	width: var(--4col);
	color: white;
	font-family: var(--regular);
	font-size: 60px;
	text-align: center;
	margin: 60px 0 40px 0;
}
.section-1 p {
	color: white;
	font-family: var(--regular);
	font-size: 22px;
	margin: 0 0 40px 0;
	text-align: center;
	width: var(--4col);
	line-height: 30px;
}
.section-1 a {
	color: white;
	font-family: var(--regular);
	font-size: 22px;
	margin: 0 0 100px 0;
	padding: 20px 40px;
	border: 2px solid white;
	text-decoration: none;
	text-align: center;
	transition-duration: 400ms;
}
.section-1 a:hover {
	background: white;
	color: var(--color);
}