:root {
	--column1: 21.4285714286vw;
	--columnhalf: 32.142857143vw;
	--column2: 42.8571428571vw;
	--column3: 64.2857142857vw;
	--column4: 85.7142857143vw;
	--columnspace: 7.14285714286vw;
	--color: #0025ba;
	--color-2: #0b44e2;
	--color-3: #a8baea;
	--color-4: #cacecf;
	--bold: 'akzidenz-grotesk_bqbold';
	--bolditalic: 'akzidenz-grotesk_bqBdIt';
	--medium: 'akzidenz-grotesk_bqmedium';
	--mediumitalic: 'akzidenz-grotesk_bqMdIt';
	--regular: 'akzidenz-grotesk_bqregular';
	--regularitalic: 'akzidenz-grotesk_bqitalic';
	--light: 'akzidenz-grotesk_bqlight';
	--lightitalic: 'akzidenz-grotesk_bq_lightIt';
}
::selection {
    color: white; 
    background: #002ec6;
}
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: var(--color-4);
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	cursor:url('../img/cursor.png') 10 10, auto;
}
.nokey-wrap {
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	-webkit-filter: brightness(100%); /* Safari */
	filter: brightness(100%);
	position: absolute;
}
.col {
	position: fixed;
	height: 100vh;
	background: rgba(255,255,255,0.7);
	width: 1px;
	margin: 0;
	padding: 0;
	display: none;
}
.col1 {
	left: var(--columnspace);
	margin: 0;
	padding: 0;
}
.col2 {
	left: 28.5714285715vw;
	margin: 0;
	padding: 0;
}
.col3 {
	left: 50vw;
	margin: 0;
	padding: 0;
}
.col4 {
	margin: 0;
	padding: 0;
	left: 71.4285714287vw;
}
.col5 {
	left:92.8571428573vw;
	margin: 0;
	padding: 0;
}
.background {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: var(--color-2);
	background-size: cover;
	z-index: -2;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-position: center center;
}
.button {
	margin: 0;
	background: white;
	font-size: 22px;
	text-align: center;
	padding: 30px 40px;
	color: var(--color);
	-webkit-transition-duration: 500ms !important;
	     -o-transition-duration: 500ms !important;
	        transition-duration: 500ms !important;
	letter-spacing: .5px;
	text-decoration: none;
	font-family: var(--regular);
}
.paragraph {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: var(--regular);
	line-height: 28px;
	letter-spacing: .5px;
	color: white;
}
.sectiontitle {
	margin: 0;
	padding: 0;
	font-size: 50px;
	font-family: var(--regular);
	line-height: 50px;
	letter-spacing: 2px;
}
.fixed1 {
	height: 70px;
	width: 100vw;
	background: rgba(255,255,255,0);
	display: none;
	position: fixed;
	z-index: 1;
	transition-duration: 400ms;
	margin: 0;
	padding: 0;
}
.fixed {
	position: fixed;
	margin: 0;
	padding: 0;
	height: 180px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.fixed .logo {
	width: 3vw;
	height: 3vw;
	margin-left: 2.07142857143vw;
	margin-right: 2.07142857143vw;
	display: none;
}
.lander {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: var(--regular);
}
.landercontainer {
	height: 100vh;
	margin-left: var(--columnspace);
	width: var(--column4);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.landertitle {
	font-size: 40px;
	letter-spacing: 5px;
	max-width: var(--column4);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	font-family: var(--regular);
	color: #fff;
	margin: 0 0 40px 0;
	text-align: left;
	overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.landertitle strong {
	font-family: var(--medium);
}
.landersubtitle {
	font-size: 120px;
	letter-spacing: 0;
	width: var(--column4);
	line-height: 120px;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	font-family: var(--regular);
	color: #fff;
	margin: 0 0 40px 0;
	text-align: left;
}
.lander .paragraph {
	position: inherit;
	margin-top: 0;
	width: var(--column2);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	        text-align: left;
	margin-bottom: 160px;
}
@media screen and (max-width: 1300px) {
	.landersubtitle {
		font-size: 80px;
		line-height: 76px;
	}
	.lander .paragraph {
		margin-bottom: 100px;
	}
}
@media screen and (max-width: 1000px) {
	.landersubtitle {
		font-size: 60px;
		line-height: 60px;
	}
	.lander .paragraph {
		margin-bottom: 80px;
		font-size: 18px;
	}
}
.scroll {
	position: absolute;
	bottom: 60px;
	left: 50vw;
	width: 50px;
	margin-left: -25px;
	transition-duration: 400ms;
}
.scroll:hover {
	bottom: 50px;
}
hr {
	border: .5px solid rgba(255,255,255,0.4);
}
/* HEADER CSS
HEADER HEADER HEADER HEADER HEADER */

.checkbox {
  display: none;
}
.header-button {
	top: 3.57142vw;
	left: 3.57142vw;
	margin: -24px;
	z-index: 2;
	color: var(--color);
	background: white;
	text-align: center;
	line-height: 43px;
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: 10px;
	opacity: 1;
	position: fixed;
	transition-duration: .5s;
}
.header-button2 {
	top: -50px;
	left: 3.57142vw;
	margin: -24px;
	z-index: 6;
	color: var(--color);
	background: white;
	text-align: center;
	line-height: 43px;
	height: 30px;
	width: 30px;
	display: inline-block;
	padding: 10px;
	opacity: 1;
	transition-duration: .5s;
	position: fixed;
}
.material-icons {
	font-size: 30px;
	text-decoration: none;
}
.header-button, .header-button2:hover {
	cursor:url('../img/cursor.png') 10 10, auto;
}
ul {
	position: fixed;
	height: 100vh;
	width: 0;
	left: 50vw;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--color);
	z-index: 5;
	transition-duration: .7s;
	transition-timing-function: cubic-bezier(.76,.01,.28,.99);
	border: 20px var(--color-2) solid;
	box-sizing: border-box;
	transition-delay: 150ms;
	opacity: 0;
}
ul a {
	color: white;
	text-align: center;
	font-family: var(--regular);
	letter-spacing: 1px;
	transform: scale(0);
	opacity: 0;
	transition-duration: .7s;
	transition-timing-function: cubic-bezier(.76,.01,.28,.99);
	text-decoration: none;
	list-style-type: none;
	font-size: 40px;
	margin-top: 20px;
	transform-origin: center;
	transition-delay: 0;
}
ul a:first-child {
	margin-top: 100px;
}
ul a p {
	font-size: 20px;
	letter-spacing: 1px;
	color: var(--color);
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(.76,.01,.28,.99);
}
ul a:hover > .text {
	color: white;
}
.underline--magical {
  background-image: linear-gradient(120deg, var(--color-2) 0%, var(--color-2) 100%);
  background-repeat: no-repeat;
  background-size: 100% 4px;
	padding: 12px 20px 12px 20px;
  background-position: 0 85%;
  transition: background-size 0.5s cubic-bezier(.76,.01,.28,.99);
}
ul a:hover .underline--magical {
  background-size: 100% 100%;
}
.checkbox:checked ~ ul {
	width: 100vw;
	left: 0;
	transition-delay: 1ms;
	opacity: 1;
}
.checkbox:checked ~ ul a {
	transform: scale(1);
	opacity: 1;
	transition-delay: 150ms;
}
.checkbox:checked ~ .header-button2 {
	top: 3.57142vw;
}
.checkbox:checked ~ .header-button {
}
.checkbox:checked ~ .page-wrap {
}

/* Footer */

.footer {
	height: 400px;
	width: 100vw;
	background: var(--color);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	position: absolute;
}
.footer p {
	color: white;
	font-family: var(--light);
	font-size: 20px;
	letter-spacing: 5px;
	padding: 20px 30px;
	border: 2px solid white;
}

a:hover {
	cursor:url('../img/cursor.png') 10 10, auto;
}