:root {
  --purple: #6534ff;
  --blue: #62bcfa;
  --peach: #fccdd3;
  --lighter-blue: #bbc4ef;
  --outside: 200px;
  --Loutside: 400px;
  --2colinside: 50px;
  --between: 100px;
  --inside: 10px;
}
html {
  margin: 0;
  padding: 0;
  background: #fff;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*
::selection {
  color: var(--darker-blue);
  background: white;
}
*/
.page-wrap {
  margin: 0;
  padding: 0;
  filter: saturate(1) brightness(1);
  transition-duration: 300ms;
}
.header-background {
  width: 100vw;
  height: 80px;
  background: #ffffff;
  position: fixed;
  top: -80px;
  transition-duration: 200ms;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.checkbox {
  display: none;
}
.header-button {
  margin: 45px var(--outside) 0 0;
  padding: 0;
  height: 30px;
  right: 0;
  font-size: 30px;
  color: white;
  display: fixed;
  transition-duration: 200ms;
  position: fixed;
  z-index: 5;
  transition-duration: 400ms;
  opacity: 1;
}
.header-button:hover {
  cursor: pointer;
}
.header-button2 {
  margin: -45px var(--outside) 0 0;
  padding: 0;
  height: 30px;
  right: 0;
  font-size: 30px;
  color: white;
  display: fixed;
  transition-duration: 400ms;
  position: fixed;
  z-index: 5;
  opacity: 0;
}
.header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 220px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  background: var(--purple);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(.14,0,0,1);
  opacity: 0;
  top: -500px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.header a {
  margin: 10px;
  padding: 0;
  text-decoration: none;
  color: white;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
	line-height: 20px;
  letter-spacing: 3px;
  transition-duration: 200ms;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.header a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}
.checkbox:checked ~ .header-button {
  opacity: 0;
}
.checkbox:checked ~ .header-button2 {
  margin: 45px var(--outside) 0 0;
  z-index: 11;
  opacity: 1;
}
.checkbox:checked ~ .header {
  opacity: 1;
  top: 0;
}
.checkbox:checked ~ .page-wrap {
  filter: saturate(0) brightness(0.4);
}
.logo {
  margin: 40px 0 0 var(--outside);
  padding: 0;
  position: fixed;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 200;
  color: white;
  text-decoration: none;
  transition-duration: 200ms;
  z-index: 101;
  opacity: 1;
}
.logostrong {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: var(--purple);
  letter-spacing: 1px;
  transition-duration: 200ms;
  z-index: 101;
}
.page-content {
  margin: 0;
  padding: 0;
}
.lander {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cover {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-image: url("../img/lander-image.png");
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  z-index: -1;
}
.lander h1 {
  width: 80vw;
  margin: 0 0 0 var(--outside);
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: white;
  z-index: 1;
  text-align: left;
  font-size: 70px;
  letter-spacing: 5px;
  line-height: 100px;
}
.lander h2 {
  margin: 0 0 50px var(--outside);
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: white;
  text-align: left;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 40px;
}
.lander hr {
  width: 60px;
  margin: 0 0 50px var(--outside);
  border: 2px solid var(--purple);
}
.lander a {
  margin: 0 0 0 var(--outside);
  padding: 30px 0 30px 0;
  width: 250px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  background: var(--purple); 
  transition-duration: 200ms;
  box-shadow: 5px 5px 0 var(--blue);
}
.lander a:hover {
  color: var(--purple);
  background: var(--peach);
}
.group-1 {
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.section-1 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: white;
}
.section-1 img {
  height: 200px;
  margin: 80px 0 0 0;
  padding: 0 0 0 0;
}
.section-1 h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: var(--purple);
  text-align: center;
  margin: 20px var(--Loutside) 0 var(--Loutside);
}
.section-1 p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  line-height: 36px;
  text-align: center;
  margin: 30px var(--Loutside) 0 var(--Loutside);
}
.aboutagapai {
  margin: 30px var(--Loutside) 80px var(--Loutside);
  padding: 30px 0 30px 0;
  width: 250px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  background: var(--purple); 
  transition-duration: 200ms;
  box-shadow: 5px 5px 0 var(--blue);
}
.aboutagapai strong {
  font-weight: 800;
}
.aboutagapai:hover {
  color: var(--purple);
  background: var(--peach); 
}
.section-2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background: white;
}
.section-2 div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: white;
}
.section-2 h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--purple);
  text-align: left;
  margin: 80px var(--between) 0 var(--outside);
}
.section-2 hr {
  border: 2px solid var(--purple);
  width: 60px;
  margin: 30px 0 0 var(--outside);
}
.section-2 p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  line-height: 36px;
  text-align: left;
  margin: 30px var(--between) 0 var(--outside);
}
.findouthere {
  margin: 30px var(--between) 80px var(--outside);
  padding: 30px 0 30px 0;
  width: 250px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  background: var(--purple); 
  transition-duration: 200ms;
  box-shadow: 5px 5px 0 var(--blue);
}
.findouthere strong {
  font-weight: 800;
}
.findouthere:hover {
  color: var(--purple);
  background: var(--peach); 
}
.section-2-image {
  height: 384px;
  margin: 80px var(--outside) 80px var(--between);
}
.section-3 {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  margin: 0;
  background: white;
}
.section-3 div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  background: white;
}
.section-3 h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--purple);
  text-align: right;
  margin: 80px var(--outside) 0 var(--between);
}
.section-3 hr {
  border: 2px solid var(--purple);
  width: 60px;
  margin: 30px var(--outside) 0 0;
}
.section-3 p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  line-height: 36px;
  text-align: right;
  margin: 30px var(--outside) 0 var(--between);
}
.purchasecarl {
  margin: 30px var(--outside) 80px var(--between);
  padding: 30px 0 30px 0;
  width: 250px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 16px;
  background: var(--purple); 
  transition-duration: 200ms;
  box-shadow: 5px 5px 0 var(--blue);
}
.purchasecarl strong {
  font-weight: 800;
}
.purchasecarl:hover {
  color: var(--purple);
  background: var(--peach); 
}
.section-3-image {
  height: 384px;
  margin: 80px var(--between) 80px var(--outside);
}

/*
*
*
*
*
*
RESPONSIVE
*
*
*
*
*
*/
@media screen and (max-width: 1500px) {
  :root {
    --outside: 100px;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    --outside: 50px;
  }
}
