:root {
	--color: #0025ba;
	--color-2: rgba(11, 68, 226, 1);
	--color-3: #a8baea;
	--color-4: #cacecf;
}
::-moz-selection {
    color: white;
    background: #002ec6;
}
::selection {
    color: white;
    background: #002ec6;
}
html {
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
	background: var(--color-4);
}
body {
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
	/*cursor:url('../img/cursor.png') 10 10, auto;*/
}
.nokey-wrap {
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: -1;
}
::selection {
	background: rgba(11, 68, 226, .5);
	color: white;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	transition-duration: 800ms;
	z-index: 20;
}
.left {
	position: fixed;
	margin: 0;
	padding: 0;
	transform: rotate(270deg);
	transform-origin: top right;
	left: -100vh;
	height: 180px;
	width: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition-duration: 800ms;
}
.lefttext {
	margin-right: 80px;
	font-family: 'Work Sans', sans-serif;
	font-size: 24px;
	color: white;
	letter-spacing: 3px;
	transition-duration: 800ms;
	text-decoration: none;
}
.left-after {
	color: var(--color-2);
}
.right {
	position: fixed;
	margin: 0;
	padding: 0;
	right: -135px;
	height: 100vh;
	width: 180px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	transition-duration: 700ms;
}
.right-after {
	right: 0;
}
.right ul {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 80px;
}
.right a {
	margin-right: 30px;
	color: var(--color-2);
	font-family: 'Work Sans', sans-serif;
	text-align: right;
	text-decoration: none;
	line-height: 34px;
	font-size: 16px;
	transition-duration: 300ms;
	border-bottom: 1px solid rgba(255,255,255,0);
}
.right a:hover {
	margin-right: 35px;
	border-bottom: 1px solid var(--color-2);
}

.sectiontitles {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: -5;
	opacity: 0;
	transition-duration: 900ms;
}
.sectiontitle {
	margin: 0;
	padding: 0;
	position: fixed;
	font-family: 'Work Sans';
	color: rgba(11, 68, 226, .1);
	text-align: center;
	font-weight: 500;
	letter-spacing: -10px;
	transition-duration: 900ms;
}
.sectiontitle1 {
	z-index: -5;
	opacity: 0;
	font-size: 20vw;
	line-height: 17vw;
}
.sectiontitle2 {
	z-index: -5;
	opacity: 0;
	font-size: 20vw;
	line-height: 17vw;
}
.sectiontitle3 {
	z-index: -5;
	opacity: 0;
	font-size: 22vw;
	line-height: 17vw;
	letter-spacing: 5px;
}
.sectiontitle-after {
	z-index: 5;
	opacity: 1;
}
.sectiontitle-before {
	z-index: -5;
	opacity: 0;
}

.bg {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--color-2);
	background-size: cover;
	z-index: -2;
	background-repeat: no-repeat;
}
.lander {
	padding: 0 180px;
	margin: 0;
	height: 100vh;
	width: calc(100vw - 340px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Work Sans', sans-serif;
	transition-duration: 300ms;
	z-index: 1;
}
.whitebackground {
	height: 100vh;
	z-index: -1;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: rgba(0, 37, 186, 0.3);
	transition-duration: 300ms;
}
.whitebackground-after {
	background: white;
	z-index: 1;
}
.lander ul {
	position: absolute;
	top: 50px;
}
.lander ul a {
	color: white;
	text-decoration: none;
	margin: 0;
	padding: 15px 20px 20px 20px;
	border-bottom: 1px solid rgba(255,255,255,0);
	transition-duration: 400ms;
	text-align: center;
	font-size: 16px;
}
.lander ul a:hover {
	padding: 15px 20px 15px 20px;
	border-bottom: 1px solid rgba(255,255,255,1);
}
.landertitle {
	margin: 0;
	padding: 40px 0 0 0;
	font-weight: 400;
	font-size: 120px;
	letter-spacing: -5px;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	hyphens: auto;
	width: calc(100vw - 340px);
	line-height: 120px;
}
@media screen and (max-width: 1300px) {
	.landertitle {
		font-size: 85px;
		line-height: 75px;
	}
}
.landertext {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	hyphens: auto;
	width: 600px;
	margin-top: 40px;
}
.lander .more {
	color: white;
	text-decoration: none;
	margin: 40px 0 5px 0;
	padding: 15px 20px;
	border: 1px solid rgba(255,255,255,1);
	transition-duration: 300ms;
	text-align: center;
	font-size: 16px;
}
.lander .more:hover {
	margin: 35px 0 0 0;
	padding: 20px 30px;
	border: 1px solid rgba(255,255,255,1);
	background: white;
	color: var(--color);
}
.lander .chapterpagebutton {
	position: absolute;
	top: 35px;
	right: 35px;
	padding: 30px 35px;
	color: white;
	border: 1px solid rgba(255,255,255,.6);
	text-decoration: none;
	transition-duration: 300ms;
}
.chapterpagebutton:hover {
	color: var(--color-2);
	background: white;
	border: 1px solid rgba(255,255,255,1);
}

#section1 {
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
}
.section1 {
	margin: 300px 0;
	z-index: 4;
	transition-duration: 400ms;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.section1 .text {
	font-size: 35px;
	color: var(--color-2);
	font-family: 'Cormorant Garamond', serif;
	z-index: 5;
	width: 50vw;
	font-weight: 500;
	margin: 0 25vw;
}
.section1 .button {
	font-size: 16px;
	color: var(--color-2);
	font-family: 'Work Sans', sans-serif;
	z-index: 5;
	width: 97px;
	font-weight: 500;
	margin: 40px 0 0 25vw;
	text-decoration: none;
	padding: 25px 50px;
	border: 1px solid var(--color-2);
	border-radius: 0 70px 0 70px;
	transition-duration: 300ms;
}
.section1 .button:hover {
	border-radius: 0;
	background: var(--color-2);
	color: white;
}

.sectiondivider {
	z-index: 70 !important;
	border: 1px solid var(--color);
	color: var(--color);
	width: 100vw;
}

.section2 {
	margin: 300px 180px;
	z-index: 6;
	transition-duration: 400ms;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100vw - 360px);
}
.section2 .part1 {
	z-index: 6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 500px;
	height: 400px;
	padding: 60px;
	margin: -70px 0 0 0;
	box-sizing: border-box;
	background: var(--color-2);
}
.section2 .title {
	font-size: 22px;
	color: white;
	font-family: 'Work Sans', sans-serif;
	z-index: 6;
	font-weight: 500;
	margin: 0 0 30px 0;
	padding: 0;
}
.section2 .text {
	font-size: 16px;
	color: var(--color-3);
	font-family: 'Work Sans', sans-serif;
	z-index: 6;
	font-weight: 500;
	margin: 0 0;
	padding: 0;
}
.section2 .button {
	font-size: 16px;
	color: white;
	font-family: 'Work Sans', sans-serif;
	z-index: 5;
	width: 97px;
	font-weight: 500;
	margin: 40px 0 0 0;
	text-decoration: none;
	padding: 25px 50px;
	border: 1px solid white;
	border-radius: 0 70px 0 70px;
	transition-duration: 300ms;
}
.section2 .button:hover {
	border-radius: 0;
	background: white;
	color: var(--color-2);
}
.section2 img {
	z-index: 5;
	width: 60vw;
	height: calc((60vw / 2560) * 1440);
	margin: 00;
}
.section3 {
	margin: 200px 180px 280px 180px;
	z-index: 6;
	transition-duration: 400ms;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: calc(100vw - 360px);
}
.section3 .part1 {
	z-index: 6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 500px;
	height: 450px;
	padding: 60px;
	margin: 0 0 -70px 0;
	box-sizing: border-box;
	background: var(--color-2);
}
.section3 .title {
	font-size: 22px;
	color: white;
	font-family: 'Work Sans', sans-serif;
	z-index: 6;
	font-weight: 500;
	margin: 0 0 30px 0;
	padding: 0;
}
.section3 .text {
	font-size: 16px;
	color: var(--color-3);
	font-family: 'Work Sans', sans-serif;
	z-index: 6;
	font-weight: 500;
	margin: 0 0;
	padding: 0;
}
.section3 .button {
	font-size: 16px;
	color: white;
	font-family: 'Work Sans', sans-serif;
	z-index: 5;
	width: 97px;
	font-weight: 500;
	margin: 40px 0 0 0;
	text-decoration: none;
	padding: 25px 50px;
	border: 1px solid white;
	border-radius: 0 70px 0 70px;
	transition-duration: 300ms;
}
.section3 .button:hover {
	border-radius: 0;
	background: white;
	color: var(--color-2);
}
.section3 img {
	z-index: 5;
	width: 60vw;
	height: calc((60vw / 1867) * 1400);
	margin: 0 0 0 calc(((60vw + 500px) - (100vw - 360px)) * -1);
}
