.sections {
	padding-bottom: 140px;
	background: #eee;
}
.sections-1 {
	padding-top: 140px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 140px;
}
.sections-1 img {
	width: 50vw;
	height: auto;
}
.section2 {
	width: 50vw;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	padding-left: 100px;
}
.section2 .sectiontitle {
	padding: 0 0 0 0;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column3);
	line-height: 100px;
	color: var(--color);
}
.section2-2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.section2-2 h3 {
	font-family: var(--light);
	font-weight: 600;
	padding: 0;
	font-size: 30px;
	color: var(--color);
	width: 28vw !important;
}
.section2 .paragraph {
	padding: 0 0 0 0;
	width: var(--column2);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: black;
}
.section3 {
	margin: -15px var(--columnspace) 0 var(--columnspace);
	padding: 0 0 140px 0;
	background: white;
	width: var(--column4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.section3 .sectiontitle {
	padding: 140px 0 40px;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column3);
	color: var(--color);
}
.section3 .paragraph {
	padding: 0 0 0px 0;
	width: var(--column3);
	color: black;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
}
