.lander h1 {
  font-size: 150px;
  line-height: 150px;
  margin: 0;
}
.lander hr {
  margin-top: 20px;
}
.lander a {
  margin-top: 35px;
}
.section-1 {
  flex-direction: column;
}
.section-1 img {
  width: var(--2col);
  margin: 0 0 30px 0;
}
.section-1-2 {
  justify-content: center;
  align-items: center;
}
.section-1-2 h1 {
  margin: 0 0 30px 0;
  width: var(--5col);
  text-align: center;
}
.section-1-2 p {
  width: var(--5col);
  text-align: center;
}
.section-1-2 a {
  margin-top: 30px;
}