@font-face {
    font-family: 'gt_walsheim_pro_black';
    src: url('../fonts/gt-walsheim-pro-black-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gt_walsheim_pro_bold';
    src: url('../fonts/gt-walsheim-pro-bold-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gt_walsheim_pro_regular';
    src: url('../fonts/gt-walsheim-pro-regular-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gt_walsheim_pro_thin';
    src: url('../fonts/gt-walsheim-pro-thin-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}