.sections {
	/*background-image: url('../img/Unicorn.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background: white;
	padding-top: 0;
	padding-bottom: 140px;
}
.section1 {
	margin: 0;
	padding: 140px 0 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: white;
}
.section1 hr {
	position: absolute;
	left: 0;
	padding: 0;
	width: 16.84vw;
	margin: 14px 0 0 0;
	border: 1px solid #eee;
}
.section1 .sectiontitle {
	padding: 0 0 0 40px;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column3);
	line-height: 60px;
	color: var(--color-3);
	font-size: 28px;
	font-family: var(--regular);
	line-height: 28px;
	letter-spacing: 1px;
}
.section1 .paragraph {
	padding: 30px 0 0 0;
	width: var(--column3);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	color: black;
	font-family: var(--light);
}
.section2 {
	margin: 0;
	padding: 0 0 140px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: white;
}
.section2 hr {
	position: absolute;
	left: 0;
	padding: 0;
	width: 16.84vw;
	margin: 14px 0 0 0;
	border: 1px solid #eee;
}
.section2 .sectiontitle {
	padding: 0 0 0 40px;
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	width: var(--column3);
	line-height: 60px;
	color: var(--color-3);
	font-size: 28px;
	font-family: var(--regular);
	line-height: 28px;
	letter-spacing: 1px;
}
.section2 .paragraph {
	padding: 30px 0 0 0;
	width: var(--column3);
	-webkit-transform: translateZ(1px);
	        transform: translateZ(1px);
	line-height: 60px;
	color: var(--color-2);
	font-size: 40px;
	font-family: var(--regular);
	line-height: 40px;
	letter-spacing: 1px;
	margin-bottom: 80px;
}
.team-wrap {
	width: var(--column4);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}
@media only screen and (min-width: 500px) {
	.team-wrap {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (min-width: 800px) {
	.team-wrap {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (min-width: 1100px) {
	.team-wrap {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media only screen and (min-width: 1450px) {
	.team-wrap {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}
@media only screen and (min-width: 1800px) {
	.team-wrap {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}
.member {
	background: white;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	transition: all .2s ease-in;
	border: 1px solid var(--color);
}
.member:hover {
}
.member img {
	height: 300px;
	background-image: url('../img/profile.svg');
	background-size: cover;
	background-position: center;
}
.member article {
	padding: 20px;
	background: white;
	border-top: 1px solid var(--color);
}
.member .subtitle {
	font-family: var(--medium);
	font-size: 28px;
	color: var(--color-2);
	padding: 0;
	margin: 0;
	line-height: 35px;
}
.member .text {
	font-family: var(--regular);
	font-size: 20px;
	color: var(--color-3);
	padding: 0;
	margin: 0;
	line-height: 20px;
}
